

#MainDivForGeneralServices{
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-evenly;
}


.DivHoldingListOfServices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    max-width: 1194px;
    font-size: 28px;
    margin: 0 auto;
}


.EachService{
    width: 300px;
}


.EachService > img {
    width: 70px;
}
