

#MainDivForGeneralServices{
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.GeneralServicesTitle{
    text-decoration: underline;
}


.DivHoldingListOfServices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    max-width: 1300px;
    font-size: 28px;
    margin: 0 auto;
    row-gap: 30px;
}


.EachService{
    width: 372px;
    margin: 0px 14px;
}


.EachService > img {
    width: 50px
}


.DetailOfEachService{
    font-size: 17px;
}



@media screen and (min-width: 2500px) and (max-width: 3500px){

    .GeneralServicesTitle{
        font-size: 70px;
    }

    #MainDivForGeneralServices{
        height: 1000px;
    }

    .DivHoldingListOfServices{
        height: 700px;
        width: 2500px;
        max-width: 2500px;
    }

    .EachService{
        width: 660px;
    }

    .EachService > img {
        width: 90px;
    }

    .TileOfEachService{
        font-size: 45px;
    }

    .DetailOfEachService{
        font-size: 26px;
    }
}


@media screen and (min-width: 3501px){

    .GeneralServicesTitle{
        font-size: 110px;
    }

    #MainDivForGeneralServices{
        height: 1600px;
    }

    .DivHoldingListOfServices{
        height: 1200px;
        width: 3200px;
        max-width: 3200px;
    }

    .EachService{
        width: 923px;
    }

    .EachService > img {
        width: 150px;
    }

    .TileOfEachService{
        font-size: 75px;
    }

    .DetailOfEachService{
        font-size: 46px;
    }
}
