

#MainDivForGeneralServices{
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-evenly;
}


.DivHoldingListOfServices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    max-width: 1300px;
    font-size: 28px;
    margin: 0 auto;
    row-gap: 30px;
}


.EachService{
    width: 372px;
    margin: 0px 14px;
}


.EachService > img {
    width: 50px
}


.DetailOfEachService{
    font-size: 17px;
}
