

.ServicesTitleAndPic{
    height: 650px;
    position: relative;
    margin-bottom: 30px;
}


.ServicesTitleAndPic > img{
    height: 100%;
    width: 100%;
    filter: brightness(0.7);
    position: absolute;
    left: 0;
    top: 0;
}


.ServicesMainTitle{
    position: absolute;
    top: 40%;
    left: 5%;
    font-weight: bold;
    font-size: 70px;
    color: white;
}



#MainDivForOtherServices{
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
}

.OtherServicesTitle{
    font-size: 47px;
    margin-bottom: 45px;
    text-decoration: underline;
    font-weight: bold;
}


.AllOfOtherServices{
    display: flex;
    flex-wrap: wrap;
    font-size: 23px;
    height: 400px;
    width: 100%;
    flex-direction: column;
    row-gap: 15px;
    column-gap: 50px;
    /* margin: 0 0%; */
    align-content: center;
}


.OtherServices{
    width: fit-content;

}
