

/* ------------------------First Image Section ------------------------------------- */

.firstImage{
    width: 100%;
    position: fixed;
    filter: brightness(0.5);
    top: -24%;
    z-index: -1;
}


.divHoldingFirstImage{
    height: 550px;
}

.divHoldingTitleForFirstImage{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 56%;
    top: 27%;
    color: darkturquoise;
    align-items: center;
}

.divHoldingTitleForFirstImage > h1 {
    margin: 5%;
}


.getFreeQuoteTitle{
    display: flex;
    width: 45%;
    padding: 25px 40px;
    margin: 0px;
    border: 1px solid #9c9c9c;
    background-color: #616161;
    border-radius: 38px;
    font-size: 34px;
    color: black;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
}

.arrowImage{
    width: 7%;
    margin-left: 7px;
    transition: 0.7s;
}

.getFreeQuoteTitle:hover{
    color: white;
    cursor: pointer;
    background-color: #7b7b7b;

}

.getFreeQuoteTitle:hover > .arrowImage {
    filter: invert(1);
}





/* ----------------------------Second Image Section ------------------------------ */


.secondImage{
    width: 100%;
    filter: opacity(0.5);
}

.divHoldingSecImage{
    width: 100%;
    display: flex;
    position: relative;
    top: 100%;
    background-color: white;
}

.Box1ofSecPic{
    width: 20%;
    /* height: 15%; */
    display: flex;
    position: absolute;
    font-size: 1.9rem;
    color: black;
    font-weight: bold;
    font-family: serif;
    top: 26%;
    left: 10%;
    flex-direction: column;
    align-items: center;
}

.ServiceIcons{
    width: 40%;
}

.ServiceIcons2{
    width: 35%;
}

.Box2ofSecPic{
    width: 20%;
    /* height: 15%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 1.7rem;
    color: black;
    font-weight: bold;
    font-family: serif;
    top: 25%;
    left: 38%;
}

.Box3ofSecPic{
    width: 20%;
    /* height: 15%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 1.7rem;
    color: black;
    font-weight: bold;
    font-family: serif;
    top: 26%;
    left: 68%;
}
.Box4ofSecPic{
    width: 20%;
    /* height: 15%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 1.7rem;
    color: black;
    font-weight: bold;
    font-family: serif;
    top: 62%;
    left: 23%;
}

.Box5ofSecPic{
    width: 23%;
    /* height: 15%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 1.7rem;
    color: black;
    font-weight: bold;
    font-family: serif;
    top: 62%;
    left: 52%;
}



/* -----------------------------Welcome Section----------------------------------- */


#MainDivForWelcomeSection{
    display: flex;
    height: 800px;
}


.WelcomeDescription{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;

}

.WelcomePicture{
    height: 100%;
}


.DivHoldingWelPic{
    overflow: hidden;
    width: 50%;
    background-color: white;
}



.IntroParagraphs{
    display: flex;
    text-align: start;
    margin: 0px 5% 3% 5%;
    font-family: serif;
    font-size: large;
}



/* ------------------------------------Carousel Section------------------------- */


.MainDivHoldingGallery{
    display: flex;
    height: 600px;
    width: 100%;
}

.projectTitleForCarousel{
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    font-family: serif;
    height: 70px;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.ParagraphAndTitleForGallery{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2%;
    background-color: white;
}


.GalleryParagraph{
    font-family: serif;
    font-size: larger;
}


.carousel {
    position: relative;
    width: 60%;
    /* max-width: 1000px; */
    padding: 0 auto;
    background-color: white;
  }

  .image {
    width: 100%;
    height: 100%;
    /* height: auto; */
    transition: opacity 0.5s ease-in-out;
  }

  .fade {
    opacity: 0;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.5em 0.7em;
    font-size: 2em;
    font-weight: 500;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button.prev {
    left: 0;
  }

  button.next {
    right: 0;
  }


@media screen and (min-width: 2500px) and (max-width: 3000px){
    .divHoldingFirstImage{
        height: 1000px;
    }

    #MainDivForWelcomeSection{
        height: 1200px;
    }

    .MainDivHoldingGallery{
        height: 1200px;
    }

    .divHoldingTitleForFirstImage > h1 {
        font-size: 80px;
    }

    .getFreeQuoteTitle{
        font-size: 54px;
    }

    .EachServiceTitle {
        font-size: 50px;
    }

    .IntroParagraphs{
        font-size: x-large;
    }

    .GalleryParagraph{
        font-size: xx-large;
    }


}


@media screen and (min-width: 3001px){
    .divHoldingFirstImage{
        height: 1500px;
    }

    #MainDivForWelcomeSection{
        height: 1700px;
    }

    .MainDivHoldingGallery{
        height: 1700px;
    }

    .divHoldingTitleForFirstImage > h1 {
        font-size: 100px;
    }

    .getFreeQuoteTitle{
        font-size: 64px;
    }

    .EachServiceTitle {
        font-size: 80px;
    }

    .IntroParagraphs{
        font-size: 38px;
    }

    .GalleryParagraph{
        font-size: 35px;
    }


}


@media screen and (min-width: 300px) and (max-width: 1000px) {
    .firstImage{
        height: 300px;
        position: absolute;
        top: 90px;
    }

    .divHoldingFirstImage{
        height: 250px;
    }

    .divHoldingTitleForFirstImage{
        position: absolute;
        width: 100%;
    }

    .divHoldingTitleForFirstImage > h1{
        font-size: 35px;
    }

    .getFreeQuoteTitle{
        width: 73%;
        padding: 18px 20px;
        font-size: 21px;
    }





    #MainDivForWelcomeSection{
        display: flex;
        height: 974px;
        width: 100%;
        flex-direction: column;
    }


    .WelcomeDescription{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: white;
        flex-direction: column;
    }

    .WelcomeDescription > h1 {
        font-size: 40px;
    }

    .IntroParagraphs{
        display: flex;
        text-align: center;
        font-size: medium;
    }

    .DivHoldingWelPic{
        width: 100%;
    }
    .WelcomePicture{
        width: 100%;
    }





    .divHoldingSecImage{
        width: 100%;
        display: flex;
        position: relative;
        background-color: white;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        row-gap: 20px;
    }

    .secondImage{
        width: 100%;
        position: absolute;
        height: 100%;
    }

    .Box1ofSecPic{
        width: 40%;
        display: flex;
        position: unset;
        font-size: x-large;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .Box2ofSecPic, .Box3ofSecPic, .Box4ofSecPic{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
        font-size: x-large;
    }


    .Box5ofSecPic{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
        font-size: x-large;
        margin-bottom: 20px;
    }





    .MainDivHoldingGallery{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column-reverse;
    }

    .ParagraphAndTitleForGallery{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0;
    }

    .GalleryParagraph{
        font-size: large;
        padding: 0 20px;
    }
}
