
#MainNavBar{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: slategray;
}


#NavCenterDiv{
    display: flex;
    width: 40rem;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
    font-family: serif;
}


#LogoDiv{
    font-size: 35px;
    color: white;
}


#NavCenterDiv > a{
    font-weight: bold;
    color: black;
    transition: 0.7s;
    /* text-decoration: underline; */
}


#NavCenterDiv > a:hover{
    text-decoration: underline;
    color: white;
}


@media screen and (min-width: 200px) and (max-width: 800px) {
    #MainNavBar{
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    #NavCenterDiv{
        display: flex;
        flex-direction: column;

    }

}
