


#MainDivForContactUs{
    position: relative;
    height: 700px;
    width: 100%;
}


.ContactUsPic{
    width: 100%;
    height: 100%;
    /* filter: brightness(0.8); */
    /* filter: hue-rotate(139deg) brightness(1) contrast(2); */
}


.CenterDivForEstimate{
    position: absolute;
    top: 20%;
    left: 16%;
    height: 60%;
    width: 70%;
}


.CenterDivPic{
    position: absolute;
    /* top: 20%; */
    left: 0;
    height: 100%;
    width: 100%;
    filter: brightness(0.5);
    border-radius: 55px;
}


.FreeEstimateTitle{
    position: absolute;
    top: 20%;
    left: 0%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    width: 100%;
}

.VisionARealityTitle{
    position: absolute;
    top: 34%;
    /* left: 26%; */
    font-size: 33px;
    font-weight: bold;
    color: white;
    width: 100%;
}


.MainDivForContactUsInfo{
    position: absolute;
    top: 55%;
    /* left: 47%; */
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
    font-weight: bold;
    color: white;
    align-items: center;
}


.IconsForContactUs{
    width: 30px;
    filter: invert(1);
    margin-right: 10px;
}


.IconsForContactUs1{
    width: 33px;
    filter: invert(1);
    margin-right: 10px;
}


.DivHoldingIconAndInfo{
    display: flex;
    align-items: center;
    /* width: 100%; */
    justify-content: flex-start;
    width: 200px;
}



@media screen and (min-width: 2500px) and (max-width: 3500px){

    #MainDivForContactUs{
        height: 1200px;
    }

    .FreeEstimateTitle{
        font-size: 70px;
    }

    .VisionARealityTitle{
        font-size: 58px;
    }

    .MainDivForContactUsInfo{
        font-size: 40px;
    }

    .DivHoldingIconAndInfo{
        width: 430px;
    }

    .IconsForContactUs{
        margin-right: 30px;
    }
}


@media screen and (min-width: 3501px){

    #MainDivForContactUs{
        height: 1500px;
    }

    .FreeEstimateTitle{
        font-size: 90px;
    }

    .VisionARealityTitle{
        font-size: 78px;
    }

    .MainDivForContactUsInfo{
        font-size: 60px;
    }

    .DivHoldingIconAndInfo{
        width: 640px;
    }

    .IconsForContactUs1 {
        width: 53px;
        margin-right: 40px;
    }

    .IconsForContactUs {
        width: 50px;
        margin-right: 40px;
    }
}



@media screen and (min-width: 300px) and (max-width:1000px) {
    #MainDivForContactUs{
        font-size: large;
        height: 400px;
    }

    .CenterDivForEstimate{
        top: 15%;
        left: 12%;
        height: 70%;
        width: 80%;
    }

    .CenterDivPic{
        top: 0%;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .FreeEstimateTitle{
        top: 15%;
        left: 0%;
        font-size: 20px;
        width: 100%;
    }

    .VisionARealityTitle{
        top: 40%;
        left: 0%;
        font-size: 15px;
        width: 100%;
    }

    .MainDivForContactUsInfo{
        top: 52%;
        left: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 15px;
        align-items: center;
    }

    .DivHoldingIconAndInfo{
        justify-content: center;
        width: 192px;
    }


    .IconsForContactUs{
        width: 17px;
        filter: invert(1);
        margin-right: 10px;
    }

    .IconsForContactUs1{
        width: 19px;
    }

}
