


.MainDivHoldingFooter{
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: white;
}


.LogoAndParaForFooter{
    display: flex;
    width: 33%;
    font-family: serif;
    font-size: large;
}

.DescriptionForLogoInFooter{
    margin: 5%;
}



.MainDivForFooterIcons{
    height: 200px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    justify-content: center;
    border-right-style: ridge;
    border-left: ridge;
}

.DivHoldingIconInfo{
    display: flex;
    justify-content: flex-start;
    column-gap: 15px;
    width: 69%;
}


.InfoIconsForFooter{
    width: 17px;
}


.RightsReserved{
    background-color: black;
    color: white;
}


@media screen and (min-width: 2500px) and (max-width: 3000px){
    .MainDivHoldingFooter{
        height: 400px;
    }

    .LogoAndParaForFooter{
        font-size: 27px;
    }

    .MainDivForFooterIcons{
        height: 400px;
        font-size: 30px;
    }
}


@media screen and (min-width: 3001px) {
    .MainDivHoldingFooter{
        height: 600px;
    }

    .LogoAndParaForFooter{
        font-size: 30px;
    }

    .MainDivForFooterIcons{
        height: 400px;
    }

    .DivHoldingIconInfo{
        font-size: 40px;
    }
}


@media screen and (min-width: 200px) and (max-width: 800px){
    .MainDivHoldingFooter{
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;

    }

    .LogoAndParaForFooter{
        width: 100%;
        font-size: medium;
    }
    .MainDivForFooterIcons{
        height: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right-style: hidden;
        border-left: hidden;
    }

    .DivHoldingIconInfo{
        width: 52%;
    }
}
