

.FirstSectionofAboutUs{
    position: relative;
    height: 535px;
}


.SunsetImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.5)
}


.LearmMoreAboutUs{
    position: absolute;
    font-size: 65px;
    font-weight: bold;
    color: white;
    top: 35%;
    left: 7%;
}


/* ----------------------------------------------------About the Team ------------------------------------------- */

#AboutTeamMainDiv{
    display: flex;
    justify-content: space-evenly;
    margin: 7% 0;
    height: 500px;
}

#AboutTeamMainDiv > img{
    width: 30%;
    max-width: 600px;
    min-width: 300px;
}


.TeamHeadingAndDescription{
    display: flex;
    max-width: 800px;
    width: 40%;
    flex-direction: column;
}


.TeamHeadingAndDescription > h1{
    display: flex;
}


.TeamDescriptionPara{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 17px;
}


@media screen and (min-width:300px) and (max-width:800px) {
    #AboutTeamMainDiv{
        height: 1050px;
        flex-direction: column;
    }

    .TeamHeadingAndDescription{
        width: 100%;
    }

    .TeamHeadingAndDescription > h1{
        justify-content: center;
    }

    .TeamDescriptionPara{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        font-size: 17px;
        padding: 10px;
    }

    #AboutTeamMainDiv > img{
        width: 100%;
        height: 58%;
        max-width: 800px;
        min-width: 300px;
    }
}
